## Auto generated backend.tf ##
## Updated on: {{ timestamp }} ##

terraform {
  backend "s3" {
    region = "{{ aws_region }}"
    bucket = {{ bucket_name }}
    key= "{{ prefix }}-iac.tfstate"
    encrypt = true
    dynamodb_table = {{ dynamodb_table }}
  }
}
