## Auto generated main.tf ##
## Updated on: {{ timestamp }} ##

locals {
  aws_region   = "{{ aws_region }}"
  aws_account  = "{{ account_id }}"
  prefix       = "{{ prefix }}"
  ssm_prefix   = "/org/{{ main_project }}/terraform"
  main_project = "{{ main_project }}"
  pep          = "{{ pep }}"
  common_tags  = {
    Project    = "{{ pep }}"
    ManagedBy  = "Terraform"
  }
}
